@model IEnumerable<T1808A_MVC.Models.Member>

@{
    ViewBag.Title = "Index";
}
<style>
    .error {
        color: red;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Register", "Member")
    @Html.ActionLink("Create New", "Register")
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.ActionLink(
                linkText: "Link Text", 
                actionName: "Detail",
                controllerName: "Member",
                routeValues:new { username = item.Username},
                htmlAttributes: new {}) |
        </td>
    </tr>
}

</table>
